
/* Full Page Carousel itself*/
html,
body,
.view {
  height: 75vh;
}
.carousel {
    height: 75vh;
  }
  
  .carousel .carousel-inner {
    height: 75vh;
  }
  
  .carousel .carousel-inner .carousel-item,
  .carousel .carousel-inner .active {
    height: 75vh;
  }
  
  .video-fluid {
      max-width: unset;
  }